<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="description" content="Itdatetimepicker : AngularJS Directive using Material Design principals meant to integrate with Angular-Material library.">

  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

  <title>Itdatetimepicker</title>

  <script src="bower_components/angular/angular.js">
  </script>
  <script type="text/javascript">
    angular.module('mainApp', ['itDateTimePicker'])
      .controller('TestCtrl', function($scope){
        $scope.selectedDate = new Date();
      })
  </script>

  <script src="bower_components/it-date-time-picker/dist/itDateTimePicker-min.js"></script>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="bower_components/it-date-time-picker/dist/styles/itDateTimePicker.css"/>
</head>

<body ng-controller="TestCtrl">

<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/shusain/itDateTimePicker">View on GitHub</a>

    <h1 id="project_title">ITDateTimePicker</h1>
    <h2 id="project_tagline">AngularJS Directive using Material Design principals meant to integrate with Angular-Material library.</h2>

    <section id="downloads">
      <a class="zip_download_link" href="https://github.com/shusain/itDateTimePicker/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="https://github.com/shusain/itDateTimePicker/tarball/master">Download this project as a tar.gz file</a>
    </section>
  </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <h3>
      <a id="welcome-to-github-pages" class="anchor" href="#sample" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sample {{selectedDate|date:'short'}}</h3>

    <div layout="row" layout-align="center start">
      <it-date-time-picker
              layout-margin
              ng-model="selectedDate">
      </it-date-time-picker>
      <it-time-picker
              layout-margin
              ng-model="selectedDate">
      </it-time-picker>
    </div>

    <pre>
    &lt;script src="bower_components/it-date-time-picker/dist/itDateTimePicker-min.js">&lt;/script&gt;
    &lt;link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/&gt;
    &lt;link rel="stylesheet" href="bower_components/it-date-time-picker/dist/styles/itDateTimePicker.css"/&gt;
    </pre>
    <pre>

      &lt;it-date-time-picker
              ng-model="selectedDate"&gt;
      &lt;/it-date-time-picker&gt;
      &lt;it-time-picker
              ng-model="selectedDate"&gt;
      &lt;/it-time-picker&gt;
    </pre>

    <h3>
      <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

    <p>Shaun Husain(<a href="https://github.com/shusain" class="user-mention">@shusain</a>) co-owner Intellectual Tech Inc.</p>
    <p>Contributions in the form of issues or pull requests welcome</p>


  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">ITDateTimePicker maintained by <a href="https://github.com/shusain">shusain</a></p>
  </footer>
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-6143174-9");
    pageTracker._trackPageview();
  } catch(err) {}
</script>


</body>
</html>
