<!DOCTYPE html>
<html ng-app="mainApp">

	<!-- HEAD -->
	<head>

		<title>Flexbox/Material Design Based Date Picker</title>

		<!-- Locks zooming on mobile devices, sets an initial zoom of 1 and doesn't allow for change  -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>  

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

		<!-- Cascading Style Sheet(s) -->
		<link
      rel="stylesheet"
      type="text/css"
      href="bower_components/angular-material/angular-material.css"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="styles/master.css">
		<!-- build:css styles/itDateTimePicker.css -->
    <link
            rel="stylesheet"
            type="text/css"
            href="styles/component.css">
		<!-- endbuild -->

	</head>


	<!-- BODY -->
	<body ng-controller="TestCtrl as ctrl">
		<h1>Flexbox/Material Design Based Date Picker</h1>
    <pre>{{selectedDate|date:'short'}}</pre>
    <div layout="row">
      <it-date-time-picker
              ng-model="ctrl.selectedDate">
      </it-date-time-picker>
      <it-time-picker
              ng-model="ctrl.selectedDate">
      </it-time-picker>
    </div>

		<!-- AngularJS and components thereof -->
		<script
			type="text/javascript"
			src="bower_components/angular/angular.js">
		</script>
		<script
			type="text/javascript"
			src="bower_components/angular-material/angular-material.js">
		</script>
		
		<script
			type="text/javascript"
			src="scripts/mainApp.js">
		</script>
		<script
			type="text/javascript"
			src="component/component.js">
		</script>
	</body>

</html>